/* General Styles */



/* Styling for product brand images */
.wd-product-brands img {
    max-width: 130px;
    width: 100%;
    height: auto;
    object-fit: contain;	
  }
  
  
  
  /* 404 Error Page */
  .error404 .page-header h3 {
    position: relative;
    padding: 1.5em 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.5;
    color: var(--wd-primary-color);
  }
  
  /* Styling for main page wrapper */
  .error404 .main-page-wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  
  /* Hide Google reCAPTCHA badge */
  .grecaptcha-badge {
    display: none !important;
  }
  
  /* Swatches */
  /* Styling for brand swatches */
  .wd-swatches-brands .wd-swatch.wd-bg {
    max-width: 90px;
    min-height: 80px;
  }
  
  /* Track Order */
  /* Styling for track order section */
  .track_order {
    display: block;
  }
  
  .track_order p:first-child {
    margin-bottom: 70px;
  }
  
  
  /* Add to Wishlist */
  /* Styling for add to wishlist link */
  a.add_to_wishlist {
    font-size: 13px !important;
    margin-top: 10px;
    color: grey !important;
  }
  
  /* Styling for add to wishlist link on hover */
  a.add_to_wishlist:hover {
    color: #1D6785 !important;
  }
  
  /* Waitlist Form */
  /* Subscription Form */
  /* Styling for waitlist and subscription form */
  section.cwginstock-subscribe-form {
    width: fit-content;
  }
  
  .cwginstock-subscribe-form .panel-primary > .panel-heading {
    background: none;
    border: none;
  }
  
  .cwginstock-subscribe-form .panel-primary > .panel-heading h4,
  .cwginstock-subscribe-form .panel-heading {
    color: #1D6785;
    padding: 0px;
    margin-bottom: 0px;
    font-size: 0.9rem;
    text-align: left !important;
      margin-top: 20px;
  }
  
  .cwginstock-subscribe-form .panel {
    border: none;
  }
  
  .cwginstock-subscribe-form .col-md-12 {
    width: 100%;
    padding-left: 0;
  }
  
  /* Styling for waitlist form button */
  input.cwgstock_button {
    background-color: #1D6785;
    color: white;
  }
  
  /* Search Form */
  /* Styling for search form in the header */
  .wd-search-form.wd-header-search-form.wd-display-form.whb-9x1ytaxq7aphtb3npidp {
    margin-left: 20px;
  }
  
  /* Shop Tools */
  /* Styling to hide shop tools ordering select */
  .wd-shop-tools .woocommerce-ordering.wd-style-underline select {
    display: none;
  }
  
  /* Navigation */
  /* Styling for navigation links with dropdown */
  .wd-nav[class*="wd-style-"] > li:is(.wd-has-children, .menu-item-has-children) > a:after {
    color: white;
  }
  
  /* Hover Icons */
  /* Styling for hover icons */
  .wd-hover-icons .wd-buttons .wd-action-btn > a:hover {
    color: rgb(29, 103, 133);
  }
  
  /* Strikethrough */
  /* Styling for strikethrough text */
  del .amount,
  .price del .amount {
    color: grey !important;
    font-weight: 400;
  }
  
  /* Tools Element */
  /* Styling for tools element icons */
  .wd-tools-element .wd-tools-icon {
    transition: transform 0.2s ease;
    color: black;
    font-size: 30px !important;
  }
  
  /* Styling for tools element icons on hover */
  .wd-tools-element .wd-tools-icon:hover {
    transform: scale(1.2);
    color: #1D6785;
  }
  
  /* Header Search Form */
  /* Styling for header search form */
  [class*="wd-header-search-form"] {
    flex: 0 !important;
  }
  
  /* Products Per Page */
  /* Styling for products per page variation */
  .wd-products-per-page .per-page-variation.current-variation {
    color: #1D6785;
  }
  
  /* Tools Element Text */
  /* Styling for tools element text */
  .wd-tools-element .wd-tools-text {
    color: black;
    font-size: 15px;
    text-transform: inherit !important;
  }
  
  /* My Account Navigation */
  /* Styling to hide dashboard link in my account navigation */
  li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--dashboard.is-active,
  li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--dashboard {
    display: none;
  }
  
  /* Media Image */
  /* Styling for media image */
  div#media_image-2 {
    text-align: center;
  }
  
  /* Sub Menu */
  /* Styling for sub menus in navigation *//*
  .menu-item-23682 ul.wd-sub-menu.row.color-scheme-dark,
  .menu-item-23694 ul.wd-sub-menu.row.color-scheme-dark,
  .menu-item-23716 ul.wd-sub-menu.row.color-scheme-dark,
  .menu-item-23657 ul.wd-sub-menu.row.color-scheme-dark {
    justify-content: center;
  }*/
  
  /* Nav Link */
  /* Styling for navigation links */
  a.woodmart-nav-link {
    width: fit-content;
  }
  
  
  /* Filters */
  /* Styling for filters area when opened */
  div.filters-area.filters-opened {
    background-color: #fffdfa;
  }
  
  /* Filter Widget */
  /* Styling for filter widgets */
  .widget.filter-widget {
    border: 1px solid #dddddd;
    padding: 10px;
    margin-left: 20px;
    max-width: 330px;
  }
  
  .widget.filter-widget h5 {
    color: rgb(29, 103, 133);
    font-size: 0.9rem;
  }
  
  /* Styling to hide sort-by and price filter widgets */
  .widget.filter-widget.woodmart-woocommerce-sort-by {
    display: none !important;
  }
  
  .widget.filter-widget.woodmart-price-filter {
    display: none !important;
  }
  
  /* Styling to hide filter counts */
  .wd-filter-list .count {
    display: none;
  }
  
  /* Navigation Menu */
  /* Styling for sub menu navigation links */
  .menu-item-sub > a {
    font-weight: 600 !important;
    color: #1D6785 !important;
  }
  
  /* Swatches Filter */
  /* Styling for swatches filter list */
  ul.wd-swatches-filter.wd-filter-list.wd-labels-off.wd-size-small.wd-scroll-content {
    column-count: 2;
    width: 95%;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  /* Styling for swatch filter labels */
  span.wd-filter-lable.layer-term-lable {
    color: #1D6785;
  }
  
  /* Styling for swatch filter labels on hover */
  span.wd-filter-lable.layer-term-lable:hover {
    color: #EEBC21 !important;
  }
  
  /* Styling for active filters section */
  .wd-active-filters {
    margin-bottom: 5rem !important;
    margin-top: 1rem !important;
  }
  
  /* Styling for layered nav filter links */
  .widget_layered_nav_filters a {
    color: #1D6785;
  }
  
  /* Shop Attributes */
  /* Styling for shop attributes table rows */
  .shop_attributes tr {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  
  /* Waitlist Stock */
  /* Styling for waitlist stock form */
  .cwginstock-subscribe-form .center-block {
    display: inline-flex;
    align-items: center;
  }
  
  /* Styling for out-of-stock status */
  p.stock.out-of-stock.out_of_stock_color.woo-custom-stock-status.wd-style-default {
    color: red;
    margin-top: 17px;
    font-weight: bold;
  }
  
  /* Product Attributes */
  /* Styling to hide product dimension attributes */
  tr.woocommerce-product-attributes-item.woocommerce-product-attributes-item--dimensions {
    display: none;
  }
  
  /* Product Tabs */
  /* Styling for product tabs wrapper row */
  div.product-tabs-wrapper .row {
    justify-content: center;
  }


  /* Dropdown Menu */
  /* Styling for dropdown menu sub-menu items */
  .wd-dropdown-menu:is(.wd-design-sized, .wd-design-full-width, .wd-design-full-height) .wd-sub-menu > li {
    margin-bottom: 25px;
    width: 305px;
  }
  
  /* Main Footer */
  /* Styling for footer links on hover */
  .container.main-footer a:hover {
    color: #EEBC21;
  }
  
  /* Styling for arrow buttons */
  .wd-btn-arrow {
    color: #EEBC21!important;
    font-weight: bold;
  }
  
  /* Styling for product tabs wrapper */
  .product-tabs-wrapper {
    background-color: #FAFAFA!important;
  }
  
  /* Styling for active navigation links */
  .wd-nav[class*="wd-style-"]>li:is(.current-menu-item,.wd-active,.active)>a {
    color: #1D6785;
  }
  
  /* Styling for in-stock status */
  p.stock.in-stock.in_stock_color.woo-custom-stock-status.wd-style-default {
    color: #77a464 !important;
    font-size: inherit;
    font-weight: bold;
  }
  
  /* Styling to remove stock indicator before in-stock status */
  p.stock.wd-style-default.in-stock:before {
    display: none;
  }
  
  /* Styling for available-on-backorder status */
  p.stock.available-on-backorder.available_on_backorder_color.woo-custom-stock-status.wd-style-default {
    font-weight: bold;
    color: orange;
  }
  
  /* Styling for open-filters link */
  a.open-filters {
    font-size: 17px;
  }
  
  /* Styling for scroll-to-top button */
  .scrollToTop {
    font-weight: bold!important;
    background-color: #EEBC21!important;
    color: rgb(29,103,133)!important;;
  }
  
  /* Styling for hover mask in design center category */
  .cat-design-center .hover-mask {
    top: 10%!important;
  }
  
  /* Styling to hide shop attributes */
  .shop_attributes tr {
    display: none;
  }
  
  /* Styling for product thumbnail image */
  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    width: inherit!important;
  }
  
  /* Styling for active dropdown menu item */
  .wd-pf-dropdown .wd-active>a {
    background-color: var(--bgcolor-gray-100);
    padding-left: 30px;
    position: relative; 
  }
  
  /* Styling for checkmark before active dropdown menu item */
  .wd-pf-dropdown .wd-active>a::before {
    content: '\2713';
    font-size: 16px;
    color: #EBBB1C;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  
  /* Styling to hide product labels and additional elements */
  .product-labels .product-label.out-of-stock, .product-grid-item :is(.star-rating,.wd-star-rating,.wd-quick-shop-2,.wd-swatches-attr,.wd-product-stock) {
    display: none;
  }
  
  /* Styling for product title height in grid items */
  .product-grid-item .wd-entities-title {
    min-height: 4.5em!important;
  }
  
  /* Styling for product prices and ratings in grid items */
  .products[class*="wd-stretch-cont"] :is(.price,.wrap-price,.product-rating-price) {
    margin-top: 0;
  }
  
  /* Styling for in-stock status text */
  p.stock.in-stock.in_stock_color.woo-custom-stock-status.wd-style-default {
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 1.5em;
  }
  
  /* Styling for last item in rank math breadcrumb */
  nav.rank-math-breadcrumb span.last {
    color: #1D6785;
    font-weight: bold;
  }
  
  /* Styling for photoswipe zoom and scroll wrap */
  .pswp__zoom-wrap, .pswp__scroll-wrap {
    background: white;
    overflow: hidden;
  }
  
  /* Styling to hide posted_in section in posts */
  span.posted_in {
    display: none;
  }
  
  .main-page-wrapper {
      padding-top: 40px;
      margin-top: 0px;
  
  }
  


.nolink {
    pointer-events: none;
    font-size: 1.3rem;
    padding-bottom: 10px;
    font-weight: 500;
}

.wd-add-btn-replace .add-to-cart-loop span {
    font-size: 0.9em;
}

.product-grid-item :is(.product-image-link,.hover-img) img {
    width: 100%;
    object-fit: scale-down;
}

.products[class*="wd-stretch-cont"] :is(.price,.wrap-price,.product-rating-price) {
    margin-top: 15px;
}

.container.wd-fbt-wrap {
    margin-bottom: 50px!important;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 30px;
}

.color-scheme-dark.wd-design-full-width.wd-dropdown-menu.wd-dropdown {
    padding: 30px;
}

div.wpcf7 label {
    margin-bottom: 0px!important;
}

.wd-nav[class*="wd-style-"] > li:is(.wd-has-children, .menu-item-has-children) > a:after {
    color: rgb(29,103,133);
}

.whb-with-shadow {
    box-shadow: inset 0 1px 4px 0px rgb(0 0 0 / 7%);
}

:is(.btn,.button,button,[type="submit"],[type="button"]) {
    background-color: #1D6785;
    color: white;
}

:is(.btn,.button,button,[type="submit"],[type="button"]):hover {
    background-color: #EEBD1F;
    color: black;
}

#cmplz-document, .editor-styles-wrapper .cmplz-unlinked-mode {
    max-width: 1200px;
}

.track-results-acs ul li {
    color: black!important;
    font-weight: bold;
    background-color: #F5F5F5;
}

li.payment_method_cardlink_payment_gateway_woocommerce.wc_payment_method img {
    display: none;
}

:is(.arrows-style-2,.arrows-style-3) .flickity-button {
    background-color: transparent!important;
    box-shadow: none;
}

.flickity-button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: white;
    font-weight: 600;
}

.flickity-button:hover {
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #EEBD1F;
    font-weight: 600;
}

.min-footer>div {
    text-align: end;
}

.min-footer>div img {
    text-align: start;
}

.min-footer .col-right {
    text-align: left;
}

.wd-dropdown-menu.wd-design-default .menu-item-has-children>a:after {
    display: none;
}

/* Mobile Device Styles */

.mobile-nav .searchform input, .mobile-nav .searchform ::placeholder {
    color: dimgrey;
}

.wd-dropdown-menu.wd-design-default .wd-dropdown {
    margin: 0 0 0 0px;
    pointer-events: auto;
    transition-delay: 0.2s;
}

.wd-prefooter {
    padding-bottom: 0px!important;
}

.payment_methods li>label {
    font-weight: bold;
}

span.select2-selection.select2-selection--single {
    text-transform: uppercase;
    background-color: #f7f7f7;
}

.wd-sub-menu li a {
    padding: 8px 10px 8px 8px;
    border-radius: 5px;
}

.wd-sub-menu li a:hover {
    background-color: #1D6785!important;
    padding: 8px 10px 8px 8px;
    color: white!important;
    transition: 0.6s;
    width: 100%;
}

.wpcf7 form.sent .wpcf7-response-output, .mc4wp-success, .woocommerce-message {
    background-color: #1F364B;
}

.gift-checkbox {
    padding-top: 15px;
    padding-bottom: 7px;
}

/* Hide WooCommerce Privacy Policy Text */
.woocommerce-privacy-policy-text {
    display: none;
}

.woocommerce-form-coupon-toggle {
    display: none;
}

.wd-checkout-coupon-inner {
    display: block;
}

p.woo-custom-stock-status.wd-style-default {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    min-height: 42px;
}

.products[class*="wd-stretch-cont"] .product :is(.price,.wrap-price,.product-rating-price) {
    margin-top: 15px!important;
}

.wd-add-btn-replace .add-to-cart-loop span {
    font-size: 0.8em;
    padding: 10px;
}

.product-grid-item :where(.product-wrapper,.product-element-bottom) {
    display: flex;
    justify-content: flex-end!important;
}

:is(.btn,.button,button,[type="submit"],[type="button"]) {
    background-color: #1D6785;
    color: white;
    border-radius: 5px;
}

.product.wd-hover-buttons-on-hover :is(.wd-product-header,.wrap-price) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--wd-prod-gap);
}

p.woo-custom-stock-status.wd-style-default {
    width: 100%;
}

.elementor-24655 .elementor-element.elementor-element-ed1dd5c svg {
    width: 100%!important;
}

.hover-content-inner.wd-more-desc-inner {
    display: none;
}

.product.wd-hover-base .wd-bottom-actions:not(.wd-add-small-btn) .wd-add-btn>a {
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.product.wd-hover-base .wrapp-swatches {
    display: none;
}

.sub-sub-menu.wd-dropdown li a {
    border-radius: 0px!important;
}

/* Product Brands */

/* Styling for product brand navigation buttons */
.owl-prev.wd-btn-arrow,
.owl-next.wd-btn-arrow {
    color: black;
    width: 150px;
}

/* Styling for product brand images */
.wd-product-brands img {
    max-width: 130px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* 404 Error Page */

/* Styling for 404 error page header */
.error404 .page-header h3 {
    position: relative;
    padding: 1.5em 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.5;
    color: var(--wd-primary-color);
}

/* Styling for 404 error page main wrapper */
.error404 .main-page-wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

/* Hide Google reCAPTCHA badge */
.grecaptcha-badge {
    display: none !important;
}

/* Swatches */

/* Styling for brand swatches */
.wd-swatches-brands .wd-swatch.wd-bg {
    max-width: 90px;
    min-height: 80px;
}

/* Track Order */

/* Styling for track order section */
.track_order {
    display: block;
}

.track_order p:first-child {
    margin-bottom: 70px;
}

/* Add to Wishlist */

/* Styling for add to wishlist link */
a.add_to_wishlist {
    font-size: 13px !important;
    margin-top: 10px;
    color: grey !important;
}

/* Styling for add to wishlist link on hover */
a.add_to_wishlist:hover {
    color: #1D6785 !important;
}

/* Waitlist Form */

/* Subscription Form */

/* Styling for waitlist and subscription form */
section.cwginstock-subscribe-form {
    width: fit-content;
}

.cwginstock-subscribe-form .panel-primary > .panel-heading {
    background: none;
    border: none;
}

.cwginstock-subscribe-form .panel-primary > .panel-heading h4,
.cwginstock-subscribe-form .panel-heading {
    color: #1D6785;
    padding: 0px;
    margin-bottom: 0px;
    font-size: 0.9rem;
    text-align: left !important;
    margin-top: 20px;
}

.cwginstock-subscribe-form .panel {
    border: none;
}

.cwginstock-subscribe-form .col-md-12 {
    width: 100%;
    padding-left: 0;
}

/* Styling for waitlist form button */
input.cwgstock_button {
    background-color: #1D6785;
    color: white;
}

/* Search Form */

/* Styling for search form in the header */
.wd-search-form.wd-header-search-form.wd-display-form.whb-9x1ytaxq7aphtb3npidp {
    margin-left: 20px;
}

/* Shop Tools */

/* Styling to hide shop tools ordering select */
.wd-shop-tools .woocommerce-ordering.wd-style-underline select {
    display: none;
}

/* Navigation */

/* Styling for navigation links with dropdown */
.wd-nav[class*="wd-style-"] > li:is(.wd-has-children, .menu-item-has-children) > a:after {
    color: white;
}

/* Hover Icons */

/* Styling for hover icons */
.wd-hover-icons .wd-buttons .wd-action-btn > a:hover {
    color: rgb(29, 103, 133);
}

/* Strikethrough */

/* Styling for strikethrough text */
del .amount,
.price del .amount {
    color: grey !important;
    font-weight: 400;
}

/* Tools Element */

/* Styling for tools element icons */
.wd-tools-element .wd-tools-icon {
    transition: transform 0.2s ease;
    color: black;
    font-size: 30px !important;
}

/* Styling for tools element icons on hover */
.wd-tools-element .wd-tools-icon:hover {
    transform: scale(1.2);
    color: #1D6785;
}

/* Header Search Form */

/* Styling for header search form */
[class*="wd-header-search-form"] {
    flex: 0 !important;
}

/* Products Per Page */

/* Styling for products per page variation */
.wd-products-per-page .per-page-variation.current-variation {
    color: #1D6785;
}

/* Tools Element Text */

/* Styling for tools element text */
.wd-tools-element .wd-tools-text {
    color: black;
    font-size: 15px;
    text-transform: inherit !important;
}

/* My Account Navigation */

/* Styling to hide dashboard link in my account navigation */
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--dashboard.is-active,
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--dashboard {
    display: none;
}

/* Media Image */

/* Styling for media image */
div#media_image-2 {
    text-align: center;
}

/* Sub Menu */

/* Styling for sub menus in navigation */
.menu-item-23682 ul.wd-sub-menu.row.color-scheme-dark,
.menu-item-23694 ul.wd-sub-menu.row.color-scheme-dark,
.menu-item-23716 ul.wd-sub-menu.row.color-scheme-dark,
.menu-item-23657 ul.wd-sub-menu.row.color-scheme-dark {
    justify-content: center;
}

/* Nav Link */

/* Styling for navigation links */
a.woodmart-nav-link {
    width: fit-content;
}

/* Filters */

/* Styling for filters area when opened */
div.filters-area.filters-opened {
    background-color: #fffdfa;
}

/* Filter Widget */

/* Styling for filter widgets */
.widget.filter-widget {
    border: 1px solid #dddddd;
    padding: 10px;
    margin-left: 20px;
    max-width: 330px;
}

.widget.filter-widget h5 {
    color: rgb(29, 103, 133);
    font-size: 0.9rem;
}

/* Styling to hide sort-by and price filter widgets */
.widget.filter-widget.woodmart-woocommerce-sort-by,
.widget.filter-widget.woodmart-price-filter {
    display: none !important;
}

/* Styling to hide filter counts */
.wd-filter-list .count {
    display: none;
}

/* Navigation Menu */

/* Styling for sub menu navigation links */
.menu-item-sub > a {
    font-weight: 600 !important;
    color: #1D6785 !important;
}

/* Swatches Filter */

/* Styling for swatches filter list */
ul.wd-swatches-filter.wd-filter-list.wd-labels-off.wd-size-small.wd-scroll-content {
    column-count: 2;
    width: 95%;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Styling for swatch filter labels */
span.wd-filter-lable.layer-term-lable {
    color: #1D6785;
}

/* Styling for swatch filter labels on hover */
span.wd-filter-lable.layer-term-lable:hover {
    color: #EEBC21 !important;
}

/* Styling for active filters section */
.wd-active-filters {
    margin-bottom: 5rem !important;
    margin-top: 1rem !important;
}

/* Styling for layered nav filter links */
.widget_layered_nav_filters a {
    color: #1D6785;
}

/* Shop Attributes */

/* Styling for shop attributes table rows */
.shop_attributes tr {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

/* Waitlist Stock */

/* Styling for waitlist stock form */
.cwginstock-subscribe-form .center-block {
    display: inline-flex;
    align-items: center;
}

/* Styling for out-of-stock status */
p.stock.out-of-stock.out_of_stock_color.woo-custom-stock-status.wd-style-default {
    color: red;
    margin-top: 17px;
    font-weight: bold;
}

/* Product Attributes */

/* Styling to hide product dimension attributes */
tr.woocommerce-product-attributes-item.woocommerce-product-attributes-item--dimensions {
    display: none;
}

/* Product Tabs */

/* Styling for product tabs wrapper row */
div.product-tabs-wrapper .row {
    justify-content: center;
}


/* Dropdown Menu */

/* Styling for dropdown menu sub-menu items */
.wd-dropdown-menu:is(.wd-design-sized, .wd-design-full-width, .wd-design-full-height) .wd-sub-menu > li {
    margin-bottom: 25px;
    width: 305px;
}

/* Main Footer */

/* Styling for footer links on hover */
.container.main-footer a:hover {
    color: #EEBC21;
}

/* Styling for arrow buttons */
.wd-btn-arrow {
    color: #EEBC21!important;
    font-weight: bold;
}

/* Styling for product tabs wrapper */
.product-tabs-wrapper {
    background-color: #FAFAFA!important;
}

/* Styling for active navigation links */
.wd-nav[class*="wd-style-"]>li:is(.current-menu-item,.wd-active,.active)>a {
    color: #1D6785;
}

/* Styling for in-stock status */
p.stock.in-stock.in_stock_color.woo-custom-stock-status.wd-style-default {
    color: #77a464 !important;
    font-size: inherit;
    font-weight: bold;
}

/* Styling to remove stock indicator before in-stock status */
p.stock.wd-style-default.in-stock:before {
    display: none;
}

/* Styling for available-on-backorder status */
p.stock.available-on-backorder.available_on_backorder_color.woo-custom-stock-status.wd-style-default {
    font-weight: bold;
    color: orange;
}

/* Styling for open-filters link */
a.open-filters {
    font-size: 17px;
}

/* Styling for scroll-to-top button */
.scrollToTop {
    font-weight: bold!important;
    background-color: #EEBC21!important;
    color: rgb(29,103,133)!important;;
}

/* Styling for hover mask in design center category */
.cat-design-center .hover-mask {
    top: 10%!important;
}

/* Styling to hide shop attributes */
.shop_attributes tr {
    display: none;
}

/* Styling for product thumbnail image */
img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    width: inherit!important;
}

/* Styling for active dropdown menu item */
.wd-pf-dropdown .wd-active>a {
    background-color: var(--bgcolor-gray-100);
    padding-left: 30px;
    position: relative; 
}

/* Styling for checkmark before active dropdown menu item */
.wd-pf-dropdown .wd-active>a::before {
    content: '\2713';
    font-size: 16px;
    color: #EBBB1C;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

/* Styling to hide product labels and additional elements */
.product-labels .product-label.out-of-stock, .product-grid-item :is(.star-rating,.wd-star-rating,.wd-quick-shop-2,.wd-swatches-attr,.wd-product-stock) {
    display: none;
}

/* Styling for product title height in grid items */
.product-grid-item .wd-entities-title {
    min-height: 4.5em!important;
}

/* Styling for product prices and ratings in grid items */
.products[class*="wd-stretch-cont"] :is(.price,.wrap-price,.product-rating-price) {
    margin-top: 0;
}

/* Styling for in-stock status text */
p.stock.in-stock.in_stock_color.woo-custom-stock-status.wd-style-default {
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 1.5em;
}

/* Styling for last item in rank math breadcrumb */
nav.rank-math-breadcrumb span.last {
    color: #1D6785;
    font-weight: bold;
}

/* Styling for photoswipe zoom and scroll wrap */
.pswp__zoom-wrap, .pswp__scroll-wrap {
    background: white;
    overflow: hidden;
}

/* Styling to hide posted_in section in posts */
span.posted_in {
    display: none;
}

.main-page-wrapper {
    padding-top: 40px;
    margin-top: 0px;
}

